* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  font-size: 16px;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}

body {
  background: #fefefe;
}

.page-container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* HOME PAGE */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-burger-container {
  padding: 5px 12px;
  border: 1px solid rgb(187, 186, 186);
  border-radius: 21px;
  width: 77px;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
  position: relative;
}
.menu-burger-container:hover {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

/* User image */

.user-image {
  height: 30px;
  width: 30px;
}

.no-user-image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: grey;
}
/* end user image */

#menu-items-container {
  background-color: #fefefe;
  width: 240px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  border-radius: 21px;
  position: absolute;
  top: 60px;
  right: 40px;
  display: none;
  z-index: 10;
}
#menu-items-container.show {
  display: block;
}

.menu-item:hover {
  background: rgb(238, 236, 236);
  color: black;
}

.menu-link {
  display: block;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

/* PAGE _ ADD NEWW ESTATE */
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select your images';
  /* display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700; */
  /* font-size: 10pt; */
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

/* HOME PAGE */
.card-custom {
  border: transparent;
}
.card-body {
  padding: 16px 16px 16px 0;
}

.home-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
